h1{
  color: red;
}

span{
  font-style: italic;
}

h1 {
  font-size: : 64px;
  color: green;
  text-decoration: underline;
  text-transform: uppercase;
}

h3{
  text-indent: 200px;
}

#nutrition tr {
    color: green;
}
#nutrition {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#nutrition td, th {
    border: 1px solid #ddd;
    padding: 8px;
}


#ingredients, tr, td {
    border: 2px solid #ddd;
    padding: 5px;
  }

td:hover {
  opacity: .5:
}

img {
  max-width: 200px

}

img:hover{
  transform: scale(1.5);
}
